body {
    color: cadetblue;
    font-family: Impact;
    font-size: 16px;

    text-align: center;

    background: darkgray;

    /* display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: 1fr 1fr /* repeat( 2, 1fr ) */;

    padding: 0 16px;

    max-height: 100qrvh;
}

body div {
    height: 100%;
}


.pealkiri {
    color: #8080FD;
    font-family: 'Segoe UI';
    font-size: 32px /* 2rem */;

    text-align: left;

    transition: transform 2000ms ease-in;
}

.pealkiri:hover {
    transform: rotateZ( 360deg ) rotateX( 360deg );
}

img {
    border: 10px black dashed;

    box-shadow: 0 0 20px 10px #8080FD;
    width: 50%;
    box-sizing: border-box;

    transition: scale cubic-bezier(0,1.94,1,1.94) 2s;
}

img:hover {
    scale: 2;
}

thead tr {
    font-weight: bold;
    font-size: 32px;
    color: coral;
    background: linear-gradient( 90deg, black, white );
    font-family: 'Times New Roman';
    text-decoration: underline;
}

table, td {
    border: 1px solid black;
}

@keyframes keerle {
    from {
        transform: rotateZ( 0deg ) rotateY( 0deg );
    } 
    to {
        transform: rotateZ( 360deg ) rotateY( 720deg );
    }
}

.vaga-age-link {
    animation: keerle infinite 10s linear;
    transition: scale 200ms 200ms ease-out;

    width: fit-content;
    height: fit-content;
}

.vaga-age-link:hover {
    scale: 2;
}